#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  background-color: rgba(185, 219, 254, 0.5);
  border-radius: 10px;
  padding: 25px;
  backdrop-filter: blur(5px);
}

.App h1{
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0 ;
  text-shadow: 2px 2px 1px #2893ff;
}

.App ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.App ul li {
  border: solid 1px grey;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}
.App ul li img {
  width: 80px;
}

li .content {
  position: relative;
  width: 105px;
  height: 105px;
}

.front, .back{
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  /* backface-visibility: hidden; */
  transition: .4s;
}

.front {
  transform: perspective(200px) rotateY(0deg);
}
.back {
  transform: perspective(200px) rotateY(180deg);
}
.flip-front {
  transform: perspective(200px) rotateY(180deg);
}
.flip-back {
  transform: perspective(200px) rotateY(0deg);
}

/* cards */
.cards {
  margin-top: 20px;
}
.cards h2 {
  font-size: 30px;
  margin-bottom: 30px;
}